*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recomendedPeople{
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}