/* normalize */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div{
    background-color: red;
    width: 80%;
    display: flex;
    justify-content: center;
}