/* selector{ 
    propiedad: valor;
    propiedad: valor;
}
     */

     /* Traemos el font desde Google */
     @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


     p{
         color: blue;
         font-family: 'PT Sans Narrow', sans-serif;
     
     }
     
     h2 {/* selector global */
         color: red;
         font-size: 45px;
         background-color: aquamarine;
         /* text-align: center; */
     }
     
     /* selector de clase */
     .soloYo{
     /*     color: red;
         font-size: 45px;
         background-color: aquamarine; */
         text-align: right;
     }
     
     /* selector por ID */
     #miParrafo{
         margin-top: 80px;
     }
     
     
     h1{
         /* bode */
         border-top: solid 5px black; 
         border-right: dashed 8px blueviolet;
         border-bottom: solid 10px gray;
         border-left: dotted 12px rgb(90, 90, 61);
         /* relleno */
         padding-top: 35px;
         padding-left: 45px;
         padding-right: 50px;
         padding-bottom: 25px;
         /* margen */
         margin-top: 50px;
         margin-right: 100px;
         margin-bottom: 80px;
         margin-left: 150px;
     }
     
     .centrar{
         text-align: center;
     }
     
     .otroParrafo{
         font-size: 25px;
     }
     
     .miColor{
         color: #711648;
     }
     
     /* ul{
         text-align: center;
     } */
     
     ul li{
         list-style-type: none;
         display: inline-block; 
         margin: 15px;
         padding: 25px;
         border: 1px solid black;
         background: rgb(223, 201, 201);
     }
     
     a{
         text-decoration: none
     }
     
     